.body{
    margin: 0;
    padding: 0;
}
.heading-1{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
.heading-1 h1{
    text-align: center;
    text-decoration: solid;
    text-shadow: 0cm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: size 90px;
    font-size:xx-large;
}
.heading-2 h3{
    text-align: center;
    font-family: cursive;
}
.search-box{
    text-align: center;
}
.avatar-image{
    padding: 10px;
 margin: auto;
 display: flex;
 justify-content: center;
 
}